<div
  class="container m-[0_auto]"
  style="max-height: calc(100% - 120px); overflow-y: scroll"
>
  <!-- let this be the user section -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div
      class="col-span-1 md:col-span-2 lg:col-span-3 bg-white p-4 border rounded-lg flex items-center gap-2"
      style="min-height: 150px"
    >
      <!-- User's profile image -->
      <img
        [src]="user_pfp"
        alt="Profile Picture"
        class="w-24 h-24 mx-auto mb-4 rounded-full"
      />

      <!-- User's personal data -->
      <div>
        <div class="font-bold mb-4">Datos personales</div>
        <div class="flex justify-between items-center">
          <!-- <div class="text-black">{{ user }}</div> -->
        </div>
        <div class="flex justify-between items-center">
          <!-- <div class="text-black">{{ user }}</div> -->
        </div>
        <div class="flex justify-between items-center">
          <!-- <div class="text-black">2021030262&#64;upsin.edu.mx</div> -->
          <!-- Campo de correon't-->
        </div>
      </div>
    </div>
  </div>

  <!-- let this be the info section, therere three elements -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- First info item -->
    <div
      class="p-6 mx-4 border rounded-lg flex items-center justify-between bg-gray-300"
    >
      <mat-icon class="text-gray-600">article</mat-icon>
      <span class="font-bold">TÉRMINOS Y CONDICIONES</span>
      <mat-icon class="">arrow_forward</mat-icon>
    </div>
    <!-- First info item -->
    <div
      class="p-6 mx-4 border rounded-lg flex items-center justify-between bg-gray-300"
    >
      <mat-icon class="text-gray-600">lock</mat-icon>
      <span class="font-bold">RESUMEN DE PRIVACIDAD</span>
      <mat-icon class="">arrow_forward</mat-icon>
    </div>
    <!-- First info item -->
    <div
      class="p-6 mx-4 border rounded-lg flex items-center justify-between bg-gray-300"
    >
      <mat-icon class="text-gray-600">supervisor_account</mat-icon>
      <span class="font-bold">ACERCA DE NOSOTROS</span>
      <mat-icon class="">arrow_forward</mat-icon>
    </div>
  </div>
</div>
