<div class="flex flex-col items-center justify-center w-full">

  <div class="flex gap-4 w-full items-center">
    <mat-icon class="mb-4">person</mat-icon>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ingrese su email" [formControl]="email" required="Debe ingresar su correo">
    </mat-form-field>
  </div>

  <button (click)="onReceiveEmail()" class="w-1/2 mx-auto" mat-button mat-flat-button color="primary">
    <mat-icon>login</mat-icon>
    Recupera tu contraseña
  </button>
  <div class="flex justify-end mt-5">
    <!-- <a class="hover:text-indigo-600 transition-all" routerLink="/auth/register">¿Aun no tienes cuenta? Registrate</a> -->
    <a class="hover:text-indigo-600 transition-all" routerLink="/auth/login">Ingrese a su cuenta</a>
  </div>
</div>
