<div class="container m-auto">
  
  <header class="fixed top-0 left-0 right-0 text-white h-14 flex items-center px-6" style="z-index: 1; background-color: #194A6E">
    <!-- Return Icon -->
    <div class="mr-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </div>
    <!-- Header Text -->
    <div class="text-xl">HISTORIAL DE VIAJES</div>
    <!-- Right Icon (if needed) -->
    <!-- <div>
      Right icon goes here
    </div> -->
  </header>
  
  <div class="bg-gray-200 p-3 mb-4" style="padding-top: 70px;">
    <!-- Container for indicating when the travels were realized -->
    <div class="font-bold text-gray-600">Últimos 7 días</div>
    <!-- Other content related to indicating the time period of the travels -->
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
    <!-- Repeat this container for each travel item -->
    <div class="flex bg-white p-3 border-b-2 border-gray-200">
      <div class="w-1/5 flex items-start justify-center">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #EB445A; transform: scale(1.25)">location_on</mat-icon>
      </div>
      <div class="w-4/5">
        <!-- Address -->
        <div class="font-bold text-black mb-2">Av. Gabriel Leyva 3324, Loma Atravesada</div>
        <!-- Date -->
        <div class="text-gray-700">6:45 a.m.</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
    <!-- Repeat this container for each travel item -->
    <div class="flex bg-white p-3 border-b-2 border-gray-200">
      <div class="w-1/5 flex items-start justify-center">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #EB445A; transform: scale(1.25)">location_on</mat-icon>
      </div>
      <div class="w-4/5">
        <!-- Address -->
        <div class="font-bold text-black mb-2">Av. Gabriel Leyva 3324, Loma Atravesada</div>
        <!-- Date -->
        <div class="text-gray-700">6:20 a.m.</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
    <!-- Repeat this container for each travel item -->
    <div class="flex bg-white p-3 border-b-2 border-gray-200">
      <div class="w-1/5 flex items-start justify-center">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #EB445A; transform: scale(1.25)">location_on</mat-icon>
      </div>
      <div class="w-4/5">
        <!-- Address -->
        <div class="font-bold text-black mb-2">Centro Gral. Ángeles Flores, Centro, 82000</div>
        <!-- Date -->
        <div class="text-gray-700">6:40 a.m.</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
    <!-- Repeat this container for each travel item -->
    <div class="flex bg-white p-3 border-b-2 border-gray-200">
      <div class="w-1/5 flex items-start justify-center">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #EB445A; transform: scale(1.25)">location_on</mat-icon>
      </div>
      <div class="w-4/5">
        <!-- Address -->
        <div class="font-bold text-black mb-2">Centro Gral. Ángeles Flores, Centro, 82000</div>
        <!-- Date -->
        <div class="text-gray-700">6:40 a.m.</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
  </div>
  <!-- END OF ÚLTIMOS 7 DÍAS CONTAINER -->

  <div class="bg-gray-200 p-3 mb-4">
    <!-- Container for indicating when the travels were realized -->
    <div class="font-bold text-gray-600">Febrero</div>
    <!-- Other content related to indicating the time period of the travels -->
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
    <!-- Repeat this container for each travel item -->
    <div class="flex bg-white p-3 border-b-2 border-gray-200">
      <div class="w-1/5 flex items-start justify-center">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #EB445A; transform: scale(1.25)">location_on</mat-icon>
      </div>
      <div class="w-4/5">
        <!-- Address -->
        <div class="font-bold text-black mb-2">Av. Gabriel Leyva 3324, Loma Atravesada</div>
        <!-- Date -->
        <div class="text-gray-700">6:45 a.m.</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
    <!-- Repeat this container for each travel item -->
    <div class="flex bg-white p-3 border-b-2 border-gray-200">
      <div class="w-1/5 flex items-start justify-center">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #EB445A; transform: scale(1.25)">location_on</mat-icon>
      </div>
      <div class="w-4/5">
        <!-- Address -->
        <div class="font-bold text-black mb-2">Av. Gabriel Leyva 3324, Loma Atravesada</div>
        <!-- Date -->
        <div class="text-gray-700">6:20 a.m.</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
    <!-- Repeat this container for each travel item -->
    <div class="flex bg-white p-3 border-b-2 border-gray-200">
      <div class="w-1/5 flex items-start justify-center">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #EB445A; transform: scale(1.25)">location_on</mat-icon>
      </div>
      <div class="w-4/5">
        <!-- Address -->
        <div class="font-bold text-black mb-2">Centro Gral. Ángeles Flores, Centro, 82000</div>
        <!-- Date -->
        <div class="text-gray-700">6:40 a.m.</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
    <!-- Repeat this container for each travel item -->
    <div class="flex bg-white p-3 border-b-2 border-gray-200">
      <div class="w-1/5 flex items-start justify-center">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #EB445A; transform: scale(1.25)">location_on</mat-icon>
      </div>
      <div class="w-4/5">
        <!-- Address -->
        <div class="font-bold text-black mb-2">Centro Gral. Ángeles Flores, Centro, 82000</div>
        <!-- Date -->
        <div class="text-gray-700">6:40 a.m.</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
  </div>
  <div class="h-14 px-6"></div>
  <!-- END OF Febrero CONTAINER -->
  
  <footer class="fixed bottom-0 left-0 right-0 text-white h-14 flex justify-between items-center px-6" style="background-color: #194A6E">
    <!-- Left Icon -->
    <div>
      <mat-icon color="white" class="h-10 w-10 inline-block">phone</mat-icon>
    </div>
    <!-- Footer Text -->
    <div>
      <!-- When haces tus momos en el footer. Quita este texto y cambia los íconos de la izq y der -->
    </div>
    <!-- Right Icon -->
    <div>
      <mat-icon color="white" class="h-10 w-10 inline-block">info</mat-icon>
    </div>
  </footer>
</div>