<div
  class="container m-[0_auto]"
  style="max-height: calc(100% - 120px); overflow-y: scroll"
>
  <!-- Iterate over travel periods -->
  <ng-container *ngFor="let travelPeriod of travelPeriods">
    <div class="bg-gray-200 p-3 mb-0">
      <!-- Container for indicating when the travels were realized -->
      <div class="font-bold text-gray-600">{{ travelPeriod.label }}</div>
      <!-- Other content related to indicating the time period of the travels -->
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0">
      <!-- Iterate over travel items -->
      <div
        *ngFor="let travelItem of travelPeriod.items"
        class="flex bg-white p-5 border-b-2 border-gray-200"
      >
        <div class="w-1/5 flex items-start justify-center">
          <!-- Icon container (assuming you have an icon variable) -->
          <mat-icon style="color: #eb445a; transform: scale(1.25)"
            >location_on</mat-icon
          >
        </div>
        <div class="w-4/5">
          <!-- Address -->
          <div class="font-bold text-black mb-2">{{ travelItem.address }}</div>
          <!-- Date -->
          <div class="text-gray-700">{{ travelItem.time }}</div>
          <!-- Other content related to the travel item -->
        </div>
      </div>
      <!-- End of travel container -->
    </div>
  </ng-container>
</div>
