<div
  class="container m-[0_auto]"
  style="max-height: calc(100% - 120px); overflow-y: scroll"
>
  <!-- Iterate over travel periods -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0">
    <!-- Iterate over travel items -->
    <div
      *ngFor="let notification of notifications"
      class="flex p-4 mx-6 my-3 border-b-2 border-gray-200 rounded-3xl"
      style="background-color: #c3e5fef0"
    >
      <div class="w-1/5 flex items-start justify-center p-2 mt-2">
        <!-- Icon container (assuming you have an icon variable) -->
        <mat-icon style="color: #d6bd30; transform: scale(2)"
          >notifications</mat-icon
        >
      </div>
      <div class="w-4/5">
        <!-- Date -->
        <div class="text-gray-700 text-xs" style="text-align: end">
          {{ notification.time }}
        </div>
        <!-- TITLE -->
        <div class="font-bold text-black mb-2">{{ notification.title }}</div>
        <!-- MSG -->
        <div class="text-black mb-2">{{ notification.msg }}</div>
        <!-- Other content related to the travel item -->
      </div>
    </div>
    <!-- End of travel container -->
  </div>
</div>
